{% extends 'base.html.twig' %}

{% block title %}{{ template_name }}{% endblock %}

{% block body %}
    <article class="products">
        <h2>{{ product.title }}</h2>
        <img src="{{ product.image }}" alt="Image" class="img-thumbnail">
        <h3>{{ product.model }}</h3>
        <p>{{ product.descTwo }}</p>
        <strong>{{ product.category.title }}</strong>

    </article>
{% endblock %}
